In [3]:
# US States Data Visualization
# Data source - https://www.kaggle.com/fernandol/countries-of-the-world

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import folium

In [20]:
states_data = pd.read_csv("./csv-data/gun-violence-cleaned.csv")
states_geo = './geo-json-data/us-states.json'
states_data

,incident_id,state,city_or_county,n_victims,latitude,longitude
0,461105,Pennsylvania,Mckeesport,4,40.3467,-79.8559
1,460726,California,Hawthorne,4,33.9090,-118.3330
2,478855,Ohio,Lorain,4,41.4455,-82.1377
3,478925,Colorado,Aurora,4,39.6518,-104.8020
4,478959,North Carolina,Greensboro,4,36.1140,-79.9569
5,478948,Oklahoma,Tulsa,4,36.2405,-95.9768
6,479363,New Mexico,Albuquerque,5,34.9791,-106.7160
7,479374,Louisiana,New Orleans,5,29.9435,-90.0836
8,479389,California,Brentwood,4,37.9656,-121.7180
9,492151,Maryland,Baltimore,7,39.2899,-76.6412
10,491674,Tennessee,Chattanooga,4,35.0221,-85.2697
11,479413,Missouri,Saint Louis,4,38.7067,-90.2494
12,479561,Louisiana,Charenton,5,29.8816,-91.5251
13,479554,District of Columbia,Washington,5,38.8978,-76.9717
14,479460,Ohio,Springfield,4,39.9252,-83.8218
15,479573,Tennessee,Memphis,5,35.0803,-89.8871
16,479580,California,Yuba (county),4,39.1236,-121.5830
17,479592,Illinois,Chicago,4,41.7592,-87.5628
18,479603,Louisiana,New Orleans,4,29.9563,-90.0676
19,480311,California,Vallejo,5,38.1072,-122.2280
20,480327,Delaware,Wilmington,5,39.7407,-75.5499
21,480344,Utah,Midvale,5,40.6008,-111.9030
22,480358,California,Orange (county),7,33.8031,-117.9430
23,480383,Oklahoma,Tulsa,4,36.1722,-95.8778
24,480401,Michigan,Grand Rapids,4,42.9371,-85.6853
25,480407,California,Lancaster,4,34.6666,-118.1310
26,480443,Georgia,Macon,8,32.8260,-83.6704
27,481186,Louisiana,Shreveport,4,32.4420,-93.7726
28,481198,Georgia,Moultrie,4,31.1824,-83.7912
29,481208,Michigan,Saginaw (county),4,43.3944,-83.9082
...,...,...,...,...,...,...
239647,1081936,Maine,Bangor,0,NaN,NaN
239648,1081946,District of Columbia,Washington,0,NaN,NaN
239649,1081949,Nevada,Las Vegas,0,NaN,NaN
239650,1082266,California,Palmdale,1,34.5713,-118.0450
239651,1082483,Texas,Wichita Falls,1,33.9052,-98.5151
239652,1082486,Texas,Dallas,1,32.6772,-96.8059
239653,1083121,Nevada,Reno,1,39.4832,-119.7800
239654,1081947,Nevada,Reno,1,39.5537,-119.7760
239655,1082089,California,San Diego,0,32.8936,-117.1360
239656,1081901,New York,Rochester,1,43.1076,-77.5617
239657,1082394,California,Shafter,0,35.5019,-119.2830
239658,1082392,California,Oakland,1,NaN,NaN
239659,1082057,Florida,Orlando,3,28.5279,-81.4594
239660,1082091,California,Stockton,2,37.9478,-121.3140
239661,1081719,North Carolina,Kings Mountain,4,NaN,NaN
239662,1082388,Minnesota,Saint Paul,2,44.9685,-93.0609
239663,1082197,Oklahoma,Guthrie,1,35.8739,-97.4163
239664,1082023,Missouri,Festus,1,38.2074,-90.4990
239665,1082226,Missouri,Saint Clair,1,NaN,NaN
239666,1081894,Missouri,Saint Louis,1,NaN,NaN
239667,1082234,Tennessee,Memphis,1,35.2045,-89.9872
239668,1081742,Michigan,Detroit,1,NaN,NaN
239669,1082990,Wisconsin,Madison,0,NaN,NaN
239670,1081752,Illinois,Chicago,1,NaN,NaN
239671,1082061,Washington,Spokane (Spokane Valley),0,47.6638,-117.2350
239672,1083142,Louisiana,Rayne,0,NaN,NaN
239673,1083139,Louisiana,Natchitoches,1,31.7537,-93.0836
239674,1083151,Louisiana,Gretna,1,29.9239,-90.0442
239675,1082514,Texas,Houston,1,29.7201,-95.6110
239676,1081940,Maine,Norridgewock,2,44.7293,-69.7691

In [8]:
# # Initialize the map:
# m = folium.Map()
# parameter = 'Area (sq. mi.)'
# # Add the color for the chloropleth:
# m.choropleth(
#  geo_data=country_geo,
#  name='choropleth',
#  data=country_data,
# #  columns=['Country', 'GDP ($ per capita)'],
#  columns=['Country', parameter],
#  key_on='feature.properties.name',
#  fill_color='YlGn',
#  fill_opacity=0.7,
#  line_opacity=0.2,
#  legend_name=parameter
# )
# folium.LayerControl().add_to(m)
# m